<ion-header>
  <ion-toolbar>
    <ion-title>userPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{texte}}</ion-label>
    <ion-toggle [(ngModel)]="mode" (click)="switch()" slot="start" name="theme" color="secondary" checked></ion-toggle>
  </ion-item>


  <ion-item>
    <ion-button routerLink="/tabs/signalement">Signalement</ion-button>
  </ion-item>

  <ion-item>
    <ion-button (click)="deconnexion()">Deconnexion</ion-button>
  </ion-item>

</ion-content>