<ion-header>
  <ion-toolbar class="menuHaut">
    <div class="content">
      <img src="/assets/img/logo.png" alt="">
      <ion-title>Lignes du réseau TAG</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="sectionLigne">
    <p>Tram</p>
    <div>
      <ion-button *ngFor="let ligneTram of listeLigneTram" (click)="goToligneInfo(ligneTram)"
        style={{styleTram(ligneTram)}}>
        {{ligneGetNameTram(ligneTram)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>Navette</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneNavette" (click)="goToligneInfo(ligneBus)"
        style={{styleBus(ligneBus)}}>
        {{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>Chrono</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneChrono" (click)="goToligneInfo(ligneBus)"
        style={{styleBus(ligneBus)}}>{{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>Proximo</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneProximo" (click)="goToligneInfo(ligneBus)"
        style={{styleBus(ligneBus)}}>{{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>Flexo</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneFlexo" (click)="goToligneInfo(ligneBus)"
        style={{styleBus(ligneBus)}}>{{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>TouGo</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneTougo" (click)="goToligneInfo(ligneBus)"
        style={{styleBus(ligneBus)}}>{{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>Pays Voironnais</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneVoiron" (click)="goToligneInfo(ligneBus)"
        style={{styleBus(ligneBus)}}>{{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>Region Express</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneRegexpress" (click)="goToligneInfo(ligneBus)"
        style={{styleBus(ligneBus)}}>
        {{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>Region</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneReg" (click)="goToligneInfo(ligneBus)" style={{styleBus(ligneBus)}}>
        {{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

  <div class="sectionLigne">
    <p>M'Convoit-Lignes /!\ horraires non gérée par l'api</p>
    <div>
      <ion-button *ngFor="let ligneBus of listeLigneMco" (click)="goToligneInfo(ligneBus)" style={{styleBus(ligneBus)}}>
        {{ligneGetNameBus(ligneBus)}}
      </ion-button>
    </div>
  </div>

</ion-content>