<ion-header>
  <ion-toolbar>
    <ion-title>Lignes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>TRAM</p>
  <div>
    <ion-button *ngFor="let ligneTram of listeLigneTram" style={{styleTram(ligneTram)}} (click)="goToligneInfo(ligneTram)" >{{ligneGetNameTram(ligneTram)}}</ion-button>
  </div>
  <p>NAVETTE</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneNavette" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)">{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
  <p>CHRONO</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneChrono" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)">{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
  <p>PROXIMO</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneProximo" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)" >{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
  <p>FLEXO</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneFlexo" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)">{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
  <p>TouGo</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneTougo" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)">{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
  <p>Pays Voironnais</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneVoiron" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)">{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
  <p>Region Express</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneRegexpress" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)">{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
  <p>Region</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneReg" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)">{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
  <p>M'Convoit-Lignes /!\ horraires non gérée par l'api</p>
  <div>
    <ion-button *ngFor="let ligneBus of listeLigneMco" style={{styleBus(ligneBus)}} (click)="goToligneInfo(ligneBus)">{{ligneGetNameBus(ligneBus)}}</ion-button>
  </div>
</ion-content>

