<ion-header [translucent]="true">
  <ion-toolbar class="menuHaut">
    <div class="content">
      <img src="/assets/img/logo.png" alt="">
      <ion-title>Compte</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="blocConnexion">

    <p class="txtConnexion">CONNEXION</p>
    <ion-item class="champConnexion">
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>

    <ion-item class="champConnexion">
      <ion-label>Mot de passe</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <section class="btnConnexion" color="success">
      <ion-button color="success" (click)="connexion()" expand="block">Connexion</ion-button>
    </section>

    <p class="txtInscription">Pas encore de compte ?</p>
    <section class="btnInscription">
      <ion-button color="success" routerLink="/tabs/creation" expand="block">Créer un compte</ion-button>
    </section>

  </div>

</ion-content>