<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button class="carte" tab="carte">
      <ion-icon name="earth-outline" color="carte"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <!--
      <ion-tab-button class="itineraire" tab="itineraire">
        <ion-icon name="trail-sign-outline"></ion-icon>
        <ion-label>Itineraire</ion-label>
      </ion-tab-button>
    -->

    <ion-tab-button class="lignes" tab="lignes">
      <ion-icon name="subway-outline"></ion-icon>
      <ion-label>Lignes</ion-label>
    </ion-tab-button>

    <ion-tab-button class="compte" tab="compte" color="tertiary">
      <ion-label>Compte</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>