<ion-header>
  <ion-toolbar class="menuHaut">
    <div class="content">
      <img src="/assets/img/logo.png" alt="">
      <ion-title>Lignes du réseau TAG</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="btnRetour">
    <ion-button color="tertiary" (click)="returnListeLigne()"> Retour </ion-button>
  </div>

  <div class="infoLigne">

    <div class="infoHaut">
      <p>{{debugInfo()}}</p>
      <ion-button color="tertiary" (click)="goToHorraire()"> Horaires </ion-button>
      <ion-input type="text" value="" placeholder="Rechercher un arrêt" [(ngModel)]="searchBar"></ion-input>
    </div>

    <div class="tableauArret">
      <div class="entreeArret" *ngFor="let arret of arretLigne" (click)="showTheoricPassage(arret)">
        <div *ngIf="arret['stopName'].includes(searchBar)">
          <p>{{arret.stopName}}</p>
          <p *ngIf="arret == numeroArret">{{passageTexte1}}</p>
          <p *ngIf="arret == numeroArret">{{passageTexte2}}</p>
        </div>

      </div>
    </div>

  </div>

</ion-content>