<ion-header>
  <ion-toolbar>
    <ion-title>horaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button (click)="returnToLigneInfo()"> Retour </ion-button>
  </div>
  <div>
    <p>{{debugInfo()}}</p>
    <ion-datetime #myPicker (ionChange)="heureChange(myPicker.value)"></ion-datetime>
  </div>
  <div *ngFor="let arret of arretLigne">
    <span>{{arret.stopName}}</span>
    <span style="display: block; float: right;">{{horaireCalculed()}}</span>
  </div>

</ion-content>
